<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Demo reactJS quoc tho</title>
    <script src='lib/react.js'></script>
    <script src='lib/react-dom.js'></script>
    <script src='lib/browser.min.js'></script>
    <script src='lib/jquery-3.2.0.min.js'></script>
    <style>
        .mauvang{
            color:yellow;
        }
        #mauvang{
            color:yellow;
        }
    </style>
</head>
<body>
 <div id="root"></div>
 <script src="quanly.js" type="text/babel"></script>
</body>
</html>